.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px 0 32px;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fff;
}

.search-bar {
  display: flex;
  gap: 8px;
  align-items: center;
}

.search-bar input {
  padding: 8px;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
}

.search-bar button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s;
  color: #fff;
}

/* Botão Buscar */
.search-bar button:nth-child(2) {
  background: #ffe100;
}

.search-bar button:nth-child(2):hover {
  background: #c9b201;
}

/* Botão Favoritos */
.search-bar button:last-child {
  background: #e50914;
}

.search-bar button:last-child:hover {
  background: #b20710;
}
